<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" from="eemineozdil@gmail.com">
        <network host="smtp.gmail.com"
                 port="587"
                 enableSsl="true"
                 userName="eemineozdil@gmail.com"
                 password="39.pmyo.39"/>
      </smtp>

    </mailSettings>
  </system.net>

    <system.web>
      
      <compilation debug="true" targetFramework="4.5.2" />
      <httpRuntime targetFramework="4.5.2" />
      <membership defaultProvider="UyelikSaglayici">
        <providers>
          <add name="UyelikSaglayici" 
               type="System.Web.Security.SqlMembershipProvider, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" 
               connectionStringName="baglanti_yol" 
               enablePasswordRetrieval="false"  
               enablePasswordReset="true" 
               requiresQuestionAndAnswer="false" 
               applicationName="/" 
               requiresUniqueEmail="true" 
               passwordFormat="Hashed" 
               maxInvalidPasswordAttempts="5" 
               minRequiredPasswordLength="5" 
               minRequiredNonalphanumericCharacters="1" 
               passwordAttemptWindow="50" 
               passwordStrengthRegularExpression=""/>
        </providers> 
      </membership>
    <!--enablePasswordRetrieval:Kullanıcıya parolasını unutursa yeni şifre mi 
    yoksa varolan şifresi mi gönderilsin. Eğer değeri True olarak ayarlanırsa kendi şifresi gönderilir. 
    enablePasswordReset özelliği gönderilecek şifrenin resetlenip resetlenmeyeceğini bildiren bir özelliktir. 
    Değeri True olduğunda şifre resetlenir. 
    -->
      <authentication mode="Forms">
        <forms name=".ASPXAUTH" 
               loginUrl="Login.aspx" 
               defaultUrl="Default.aspx" 
               timeout="30" path="/" 
               protection="All" cookieless="AutoDetect"
               requireSSL="false" slidingExpiration="true" 
               enableCrossAppRedirects="false">
          
        </forms>
      </authentication>
      <roleManager 
        enabled="true" 
        cookieName=".ASPXROLES" 
        cookieTimeout="30" 
        cookiePath="/" 
        cookieProtection="All" 
        cacheRolesInCookie="false" 
        cookieRequireSSL="false" 
        cookieSlidingExpiration="true" defaultProvider="RolYönetimiVeriSaglayici" > 
        <providers>
          <add name="RolYönetimiVeriSaglayici"
               type="System.Web.Security.SqlRoleProvider"
               connectionStringName="baglanti_yol"
               applicationName="/"/>
        </providers>
      </roleManager>
   <!--role manager bildirimine eklenen enabled=true ifadesi 
   ise rol yönetimini etkinleştirdik
   cookieName özelliği ile rol yönetiminde kullanılacak cookie için bir isim belirledik
   cookieTimeout="30" bildirimi ile rollerin saklandığı cookie'nin geçerlilik süresini 30 dk olarak belirledik
      cookiePath="/" bildrimi ile rollerin saklandığı cookie yolunu belirledik
      cookieProtection="All" bildirimi ile rol isimlerinin hem şifrelenerek hem de iişaretlenerek cookie
      de saklanmasını sağlıyoruz
      cacheRolesInCookie="false" bildirimi ile rollerin saklandığı cookie'nin oturum sonlandığında 
      yani tarayıcı penceresi kapatıldığında silinmesini sağlıyoruz 
      cookieRequireSSL="false" bildirimi ile web server da SSl özelliği aktif olmasa da rol yönetiminde 
      kullanılacak cookie nin çalışmasını sağlıyoruz
      cookieSlidingExpiration="true" bildirimi ile rollerin saklandığı cookie'nin geçerlilik süresinin 
      düzenli aralıklarla yenilenmesini sağlıyoruz
      -->
    </system.web>
  <!--yalnızca sepet sayfasına 
  anonim kullanıcıların (yani henüz giriş yapmamış)
  kullanıcıların erişimini engellemek-->
  <location path="Sepet.aspx">
    <system.web>
      <authorization>
        <deny users="?"/>
     
      </authorization>
    </system.web>
  </location>
  <location path="rol_ata_sil.aspx">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>
  <!-- adminurunekle.aspx sayfasına yalnızca admin rolüne atanan kullanıcıların erişimine izin verelim-->
  <location path="adminurunekle.aspx">
    <system.web>
      <authorization>
        <allow roles="Admin"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  
  <!-- Sayfa bazında erişime izin vermek ya da engellemek için-->
  <location path="Kullanic_Sayfasi.aspx">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>
  
  
  <connectionStrings>
    <add name="baglanti_yol" connectionString="Data Source=MSI\SQLEXPRESS;Initial Catalog=Hafta6DB;Integrated Security=True;Pooling=False" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="none"></add>
  </appSettings>
  
</configuration>
